body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin-bottom: 20px;
}

#results {
    margin-top: 20px;
}

header {
    background-color: #fcfdfd;
    color: rgb(107, 104, 104);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #6b6d70;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.flight-result {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.book-now {
    background-color: #12b1e7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.book-now:hover {
    background-color: #56a1f1;
}